{% extends "base.html" %}

{% block content %}
	<div id="content-wrapper">
		<div id="content">
			<h2>About fc00</h2>
			<p>fc00 is a project that aims to demystify what <a href="http://hyperboria.net/">Hyperboria</a> network is like. Currently the only thing we have here is a map of the network. The full source code is at <a href="https://github.com/Randati/fc00.org">GitHub</a>.</p>
			<br>

			<h3>Network map</h3>
			<p>The network page has a map of Hyperboria as it is now. The map is not complete since it is hard/impossible to get a full picture of the network. A rough estimate is that at least half of the nodes are pictured here, probably more. The nodes and links that are shown on the page are very likely to exist but this should not be taken as a guarantee.</p>

			<h3>Contact</h3>
			<p>Currently fc00 is run by <em>randati</em>. If you have something to say or you would like to help, contact him on HypeIRC or EFNet.</p>
		</div>
	</div>
{% endblock %}
