<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>fc00::/8</title>
		<script src="static/jquery-2.0.3.min.js"></script>
		<script src="static/jquery.autocomplete.min.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Droid+Sans|Duru+Sans|Quattrocento+Sans|Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
		<link href='static/style.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="header">
			<h1>fc00<span class="grey">::/8</span></h1>

			<ul>
				<li><a href="/network">Network</a></li>
				<li><a href="/world-map">World map</a></li>
				<li><a href="/tools">Tools</a></li>
				<li><tt>{{ ip }}</tt></li>
			</ul>
		</div>

		{% block content %}{% endblock %}
	</body>
</html>
